<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruru.plastic.user.dao.CertificateLogMapper" >
  <resultMap id="BaseResultMap" type="com.ruru.plastic.user.model.CertificateLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="lord_id" property="lordId" jdbcType="BIGINT" />
    <result column="lord_type" property="lordType" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="cert_level" property="certLevel" jdbcType="INTEGER" />
    <result column="cert_status" property="certStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lord_id, lord_type, user_id, cert_level, cert_status, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ruru.plastic.user.model.CertificateLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from certificate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from certificate_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from certificate_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruru.plastic.user.model.CertificateLogExample" >
    delete from certificate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruru.plastic.user.model.CertificateLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into certificate_log (lord_id, lord_type, user_id, 
      cert_level, cert_status, create_time
      )
    values (#{lordId,jdbcType=BIGINT}, #{lordType,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{certLevel,jdbcType=INTEGER}, #{certStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruru.plastic.user.model.CertificateLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into certificate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lordId != null" >
        lord_id,
      </if>
      <if test="lordType != null" >
        lord_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="certLevel != null" >
        cert_level,
      </if>
      <if test="certStatus != null" >
        cert_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lordId != null" >
        #{lordId,jdbcType=BIGINT},
      </if>
      <if test="lordType != null" >
        #{lordType,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="certLevel != null" >
        #{certLevel,jdbcType=INTEGER},
      </if>
      <if test="certStatus != null" >
        #{certStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruru.plastic.user.model.CertificateLogExample" resultType="java.lang.Integer" >
    select count(*) from certificate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update certificate_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.lordId != null" >
        lord_id = #{record.lordId,jdbcType=BIGINT},
      </if>
      <if test="record.lordType != null" >
        lord_type = #{record.lordType,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.certLevel != null" >
        cert_level = #{record.certLevel,jdbcType=INTEGER},
      </if>
      <if test="record.certStatus != null" >
        cert_status = #{record.certStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update certificate_log
    set id = #{record.id,jdbcType=BIGINT},
      lord_id = #{record.lordId,jdbcType=BIGINT},
      lord_type = #{record.lordType,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      cert_level = #{record.certLevel,jdbcType=INTEGER},
      cert_status = #{record.certStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruru.plastic.user.model.CertificateLog" >
    update certificate_log
    <set >
      <if test="lordId != null" >
        lord_id = #{lordId,jdbcType=BIGINT},
      </if>
      <if test="lordType != null" >
        lord_type = #{lordType,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="certLevel != null" >
        cert_level = #{certLevel,jdbcType=INTEGER},
      </if>
      <if test="certStatus != null" >
        cert_status = #{certStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruru.plastic.user.model.CertificateLog" >
    update certificate_log
    set lord_id = #{lordId,jdbcType=BIGINT},
      lord_type = #{lordType,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      cert_level = #{certLevel,jdbcType=INTEGER},
      cert_status = #{certStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" resultMap="BaseResultMap" parameterType="com.ruru.plastic.user.model.CertificateLogExample" >
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <include refid="Base_Column_List" />
    from certificate_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    limit 1
  </select>
</mapper>